<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 />
    <!-- user-scalable=no" -->
    <meta name="theme-color" content="#022E5D">
    <meta name="author" content="Jakub Michalak, Patryk Gutowski, Jakub Lewandowski"/>
    <meta name="copyright" content="Jakub Michalak, Patryk Gutowski, Jakub Lewandowski" />
    <meta name="keywords" content="
        biblioteka, technik,  logistyk, mundurowka, mundurówka, internat, szkola, zawodowka, dzienniczek , szkoła, technikum, zawodówka, Brodnica, CKZiU, mazurska, karbowska,
        rolnik, dyrekcja, Dyrekcja, nauczanie, nauczanie zdalne, technik informatyk, technik logistyk, technik hotelarstwa, technik gastronomii, 
        informatyk, fryzjer, powiat brodnicki, kujawsko-pomorskie, kujawsko, pomorskie, technik, zawód, kariera, przyszłość, przyszlosc, zawod"/>
    <meta name="description" content="Witamy na stronie głównej Centrum Kształenia Zawodowego i Ustawicznego w Brodnicy. CKZIU Brodnica"/>
    <!--<meta name="robots" content="noindex, follow" />-->
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/png" href="/images/logock.png"/>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- style od mobile -->
    <link rel="stylesheet" href="/css/styleMobile.css">
    <link rel="stylesheet" href="/swiper/swiper-bundle.min.css">
</head>

        