<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 />
    <!-- user-scalable=no" -->
    <meta name="theme-color" content="#022E5D">
    <meta name="author" content=""/>
    <meta name="copyright" content="" />
    <meta name="keywords" content=""/>
    <!--<meta name="robots" content="noindex, follow" />-->
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/png" href="/images/logock.png"/>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- style od mobile -->
    <link rel="stylesheet" href="/css/styleMobile.css">
    <link rel="stylesheet" href="/swiper/swiper-bundle.min.css">
</head>

        